.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 60%;
  font-family: Helvetica;
  font-size: 1.1em;
  text-align: center;
}

.logo {
  width: 100%;
}

.logo img {
    display: block;
    width: inherit;
}

.openingsuren {
  display: inline-block;
  width: 45%;
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted #DDD;
  text-align: left;
}

.float {
  float: right;
}

.adres {
  vertical-align: top;
  display: inline-block;
  width: 28%;
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted #DDD;
  text-align: left;
  word-break: break-all;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;}

.adres img {
  display: block;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-left: 82%;
  width: 100px;
}
