.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 800px;
  font-family: Helvetica;
  font-size: 1.1em;
  text-align: center;
}

.logo {
  width: 100%;
}

.logo img {
    display: block;
    width: inherit;
}

.openingsuren {
  display: inline-block;
  width: 45%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.reservatieuitleg {
  display: inline-block;
  width: 54%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.zwangerschapsuren {
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted #DDD;
  margin-bottom: 10px;
}

  .zwangerschapsuren img {
    display: inline;
    width: 150px;
    margin-left: -75px;
    margin-top: -25px;
    padding-right: 15px;
    float: left;
  }

.apoconnect {
    display: inline-block;
    width: 76%;
    border-radius: 15px;
    padding: 10px;
    border: 5px dotted #51BD22;
    background-color: #51BD22;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
  }

a .apoconnect {
  color: #fff;
  text-decoration: none;
}

.registratieformulier {
  display: inline-block;
  width: 76%;
  border-radius: 15px;
  padding: 10px;
  border: 5px dotted #DDD;
  margin-bottom: 10px;
  text-align: left;
}

.registratieformulier iframe {
  margin-left: -30px;
}

.normaleuren {
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted #DDD;
}

.socials {
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted #DDD;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.socials a {
  text-decoration: none;
}

.float {
  float: right;
}

.adres {
  vertical-align: top;
  display: inline-block;
  width: 28%;
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted #DDD;
  text-align: left;
  word-break: break-all;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.adres img {
  display: block;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-left: 82%;
  width: 100px;
}


a {
  color: #333;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.appstore {
  vertical-align: top;
  display: inline-block;
  width: 19%;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 15px;
  border: 5px dotted #DDD;
  text-align: left;
  word-break: break-all;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  }

  .vakantie {
    display: inline-block;
    width: 76%;
    border-radius: 15px;
    padding: 10px;
    border: 5px dotted #DDD;
    background-color: #DDD;
    margin-bottom: 10px;
    text-align: left;
    color: #000;
  }